@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{

    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    
}

.header {
    background-color: white;
    color: black;
    padding: 10px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    vertical-align:middle;
    position: fixed;
    width: 100%;
    left: 0;
	top: 0;
    border-bottom: 1px solid #d2d2d2;
}

.logoEquipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 17px;
}

.menu ul li :hover{
    background-color: #FFC300;
    color: white;
    border-radius: 15px;
}

.logoEquipo a img{
    width: 80px;
}

.acercaClub {
    display: flex;
    justify-content: center;
    background-image: url(./img/voleibol.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 50px;
}

.titulo-acercaClub {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.acercaClub div {
    padding: 20px;
}

.lineaVertical hr {
    height:10vh;
    width:.2vw;
    border-width:0;
    color:#000;
    background-color:#000;
}

.textoAcerca {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background-color: #007299;
}

.presentacion {
    display: grid;
    grid-template-columns: 200px 400px;
    justify-content: center;
    padding: 20px;
}

.imagenPerfil {
    width: 170px;
}

.textoPresentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    text-align: justify;
    padding: 10px;
}

.textoPresentacion p{
    background-color: #FFC300;
    padding: 15px;
    border-radius: 10px;
}

.seccion {
    margin: 50px 0px;
}

.titulosPagina {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    color: #FF4040;
}

.diasHoras {
    width: 500px;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 75px);
    text-align: center;
    
}

.infoLigas {
    margin: auto;
    width: 50%;
}

.liga {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border: #000;
}

.tituloLigas {
    padding: 20px;
    font-size: 40px;
    color: white;
    border-radius: 10px;
    background-color: #007299;
    text-align: center;
    margin: 0px 0px 20px 0px;

}

.imagenLiga {
    margin-bottom: 20px;
}

.textoLiga {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 75px);
    text-align: center; 

}

.textoLiga div{
    width: 300px;
}